<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huihe.eg.authorization.mybatis.dao.ButtonApiUrlMapper">
  <resultMap id="BaseResultMap" type="com.huihe.eg.authorization.model.ButtonApiUrlEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="descr" jdbcType="VARCHAR" property="descr" />
    <result column="add_user" jdbcType="VARCHAR" property="add_user" />
    <result column="button_id" jdbcType="BIGINT" property="button_id" />
    <result column="api_id" jdbcType="BIGINT" property="api_id" />
    <result column="update_user" jdbcType="VARCHAR" property="update_user" />
    <result column="update_time" jdbcType="TIMESTAMP" property="update_time" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_time, descr, add_user, button_id, api_id, update_user, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from authorization_button_api_url
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from authorization_button_api_url
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.huihe.eg.authorization.model.ButtonApiUrlEntity">
    insert into authorization_button_api_url (id, create_time, descr, 
      add_user, button_id, api_id, 
      update_user, update_time)
    values (#{id,jdbcType=BIGINT}, #{create_time,jdbcType=TIMESTAMP}, #{descr,jdbcType=VARCHAR}, 
      #{add_user,jdbcType=VARCHAR}, #{button_id,jdbcType=BIGINT}, #{api_id,jdbcType=BIGINT}, 
      #{update_user,jdbcType=VARCHAR}, #{update_time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.huihe.eg.authorization.model.ButtonApiUrlEntity">
    insert into authorization_button_api_url
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="descr != null">
        descr,
      </if>
      <if test="add_user != null">
        add_user,
      </if>
      <if test="button_id != null">
        button_id,
      </if>
      <if test="api_id != null">
        api_id,
      </if>
      <if test="update_user != null">
        update_user,
      </if>
      <if test="update_time != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="descr != null">
        #{descr,jdbcType=VARCHAR},
      </if>
      <if test="add_user != null">
        #{add_user,jdbcType=VARCHAR},
      </if>
      <if test="button_id != null">
        #{button_id,jdbcType=BIGINT},
      </if>
      <if test="api_id != null">
        #{api_id,jdbcType=BIGINT},
      </if>
      <if test="update_user != null">
        #{update_user,jdbcType=VARCHAR},
      </if>
      <if test="update_time != null">
        #{update_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huihe.eg.authorization.model.ButtonApiUrlEntity">
    update authorization_button_api_url
    <set>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="descr != null">
        descr = #{descr,jdbcType=VARCHAR},
      </if>
      <if test="add_user != null">
        add_user = #{add_user,jdbcType=VARCHAR},
      </if>
      <if test="button_id != null">
        button_id = #{button_id,jdbcType=BIGINT},
      </if>
      <if test="api_id != null">
        api_id = #{api_id,jdbcType=BIGINT},
      </if>
      <if test="update_user != null">
        update_user = #{update_user,jdbcType=VARCHAR},
      </if>
      <if test="update_time != null">
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huihe.eg.authorization.model.ButtonApiUrlEntity">
    update authorization_button_api_url
    set create_time = #{create_time,jdbcType=TIMESTAMP},
      descr = #{descr,jdbcType=VARCHAR},
      add_user = #{add_user,jdbcType=VARCHAR},
      button_id = #{button_id,jdbcType=BIGINT},
      api_id = #{api_id,jdbcType=BIGINT},
      update_user = #{update_user,jdbcType=VARCHAR},
      update_time = #{update_time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="query" parameterType="com.huihe.eg.authorization.model.ButtonApiUrlEntity" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM authorization_button_api_url
    <where>
      <if test="param.id!=null">
        AND id = #{param.id,jdbcType=BIGINT}
      </if>
      <if test="param.create_time!=null">
        AND create_time = #{param.create_time,jdbcType=TIMESTAMP}
      </if>
      <if test="param.descr!=null">
        AND descr = #{param.descr,jdbcType=VARCHAR}
      </if>
      <if test="param.add_user!=null">
        AND add_user = #{param.add_user,jdbcType=VARCHAR}
      </if>
      <if test="param.button_id!=null">
        AND button_id = #{param.button_id,jdbcType=BIGINT}
      </if>
      <if test="param.api_id!=null">
        AND api_id = #{param.api_id,jdbcType=BIGINT}
      </if>
      <if test="param.update_user!=null">
        AND update_user = #{param.update_user,jdbcType=VARCHAR}
      </if>
      <if test="param.update_time!=null">
        AND update_time = #{param.update_time,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <select id="queryListPage" parameterType="com.huihe.eg.authorization.model.ButtonApiUrlEntity" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM authorization_button_api_url
    <where>
      <if test="param.id!=null">
        AND id = #{param.id,jdbcType=BIGINT}
      </if>
      <if test="param.create_time!=null">
        AND create_time = #{param.create_time,jdbcType=TIMESTAMP}
      </if>
      <if test="param.descr!=null">
        AND descr = #{param.descr,jdbcType=VARCHAR}
      </if>
      <if test="param.add_user!=null">
        AND add_user = #{param.add_user,jdbcType=VARCHAR}
      </if>
      <if test="param.button_id!=null">
        AND button_id = #{param.button_id,jdbcType=BIGINT}
      </if>
      <if test="param.api_id!=null">
        AND api_id = #{param.api_id,jdbcType=BIGINT}
      </if>
      <if test="param.update_user!=null">
        AND update_user = #{param.update_user,jdbcType=VARCHAR}
      </if>
      <if test="param.update_time!=null">
        AND update_time = #{param.update_time,jdbcType=TIMESTAMP}
      </if>
    </where>
    ORDER BY id DESC limit #{param.startRow},#{param.pageSize}
  </select>
  <select id="queryListPageCount" parameterType="com.huihe.eg.authorization.model.ButtonApiUrlEntity" resultType="java.lang.Integer">
    SELECT
    count(0)
    FROM authorization_button_api_url
    <where>
      <if test="param.id!=null">
        AND id = #{param.id,jdbcType=BIGINT}
      </if>
      <if test="param.create_time!=null">
        AND create_time = #{param.create_time,jdbcType=TIMESTAMP}
      </if>
      <if test="param.descr!=null">
        AND descr = #{param.descr,jdbcType=VARCHAR}
      </if>
      <if test="param.add_user!=null">
        AND add_user = #{param.add_user,jdbcType=VARCHAR}
      </if>
      <if test="param.button_id!=null">
        AND button_id = #{param.button_id,jdbcType=BIGINT}
      </if>
      <if test="param.api_id!=null">
        AND api_id = #{param.api_id,jdbcType=BIGINT}
      </if>
      <if test="param.update_user!=null">
        AND update_user = #{param.update_user,jdbcType=VARCHAR}
      </if>
      <if test="param.update_time!=null">
        AND update_time = #{param.update_time,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
</mapper>