<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huihe.eg.authorization.mybatis.dao.MenuApiUrlMapper">
  <resultMap id="BaseResultMap" type="com.huihe.eg.authorization.model.MenuApiUrlEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="add_user" jdbcType="VARCHAR" property="add_user" />
    <result column="api_id" jdbcType="BIGINT" property="api_id" />
    <result column="menu_id" jdbcType="BIGINT" property="menu_id" />
    <result column="update_user" jdbcType="VARCHAR" property="update_user" />
    <result column="update_time" jdbcType="TIMESTAMP" property="update_time" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_time, add_user, api_id, menu_id, update_user, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from authorization_menu_api_url
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from authorization_menu_api_url
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.huihe.eg.authorization.model.MenuApiUrlEntity">
    insert into authorization_menu_api_url (id, create_time, add_user, 
      api_id, menu_id, update_user, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{create_time,jdbcType=TIMESTAMP}, #{add_user,jdbcType=VARCHAR}, 
      #{api_id,jdbcType=BIGINT}, #{menu_id,jdbcType=BIGINT}, #{update_user,jdbcType=VARCHAR}, 
      #{update_time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.huihe.eg.authorization.model.MenuApiUrlEntity">
    insert into authorization_menu_api_url
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="add_user != null">
        add_user,
      </if>
      <if test="api_id != null">
        api_id,
      </if>
      <if test="menu_id != null">
        menu_id,
      </if>
      <if test="update_user != null">
        update_user,
      </if>
      <if test="update_time != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="add_user != null">
        #{add_user,jdbcType=VARCHAR},
      </if>
      <if test="api_id != null">
        #{api_id,jdbcType=BIGINT},
      </if>
      <if test="menu_id != null">
        #{menu_id,jdbcType=BIGINT},
      </if>
      <if test="update_user != null">
        #{update_user,jdbcType=VARCHAR},
      </if>
      <if test="update_time != null">
        #{update_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huihe.eg.authorization.model.MenuApiUrlEntity">
    update authorization_menu_api_url
    <set>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="add_user != null">
        add_user = #{add_user,jdbcType=VARCHAR},
      </if>
      <if test="api_id != null">
        api_id = #{api_id,jdbcType=BIGINT},
      </if>
      <if test="menu_id != null">
        menu_id = #{menu_id,jdbcType=BIGINT},
      </if>
      <if test="update_user != null">
        update_user = #{update_user,jdbcType=VARCHAR},
      </if>
      <if test="update_time != null">
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huihe.eg.authorization.model.MenuApiUrlEntity">
    update authorization_menu_api_url
    set create_time = #{create_time,jdbcType=TIMESTAMP},
      add_user = #{add_user,jdbcType=VARCHAR},
      api_id = #{api_id,jdbcType=BIGINT},
      menu_id = #{menu_id,jdbcType=BIGINT},
      update_user = #{update_user,jdbcType=VARCHAR},
      update_time = #{update_time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="query" parameterType="com.huihe.eg.authorization.model.MenuApiUrlEntity" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM authorization_menu_api_url
    <where>
      <if test="param.id!=null">
        AND id = #{param.id,jdbcType=BIGINT}
      </if>
      <if test="param.create_time!=null">
        AND create_time = #{param.create_time,jdbcType=TIMESTAMP}
      </if>
      <if test="param.add_user!=null">
        AND add_user = #{param.add_user,jdbcType=VARCHAR}
      </if>
      <if test="param.api_id!=null">
        AND api_id = #{param.api_id,jdbcType=BIGINT}
      </if>
      <if test="param.menu_id!=null">
        AND menu_id = #{param.menu_id,jdbcType=BIGINT}
      </if>
      <if test="param.update_user!=null">
        AND update_user = #{param.update_user,jdbcType=VARCHAR}
      </if>
      <if test="param.update_time!=null">
        AND update_time = #{param.update_time,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <select id="queryListPage" parameterType="com.huihe.eg.authorization.model.MenuApiUrlEntity" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM authorization_menu_api_url
    <where>
      <if test="param.id!=null">
        AND id = #{param.id,jdbcType=BIGINT}
      </if>
      <if test="param.create_time!=null">
        AND create_time = #{param.create_time,jdbcType=TIMESTAMP}
      </if>
      <if test="param.add_user!=null">
        AND add_user = #{param.add_user,jdbcType=VARCHAR}
      </if>
      <if test="param.api_id!=null">
        AND api_id = #{param.api_id,jdbcType=BIGINT}
      </if>
      <if test="param.menu_id!=null">
        AND menu_id = #{param.menu_id,jdbcType=BIGINT}
      </if>
      <if test="param.update_user!=null">
        AND update_user = #{param.update_user,jdbcType=VARCHAR}
      </if>
      <if test="param.update_time!=null">
        AND update_time = #{param.update_time,jdbcType=TIMESTAMP}
      </if>
    </where>
    ORDER BY id DESC limit #{param.startRow},#{param.pageSize}
  </select>
  <select id="queryListPageCount" parameterType="com.huihe.eg.authorization.model.MenuApiUrlEntity" resultType="java.lang.Integer">
    SELECT
    count(0)
    FROM authorization_menu_api_url
    <where>
      <if test="param.id!=null">
        AND id = #{param.id,jdbcType=BIGINT}
      </if>
      <if test="param.create_time!=null">
        AND create_time = #{param.create_time,jdbcType=TIMESTAMP}
      </if>
      <if test="param.add_user!=null">
        AND add_user = #{param.add_user,jdbcType=VARCHAR}
      </if>
      <if test="param.api_id!=null">
        AND api_id = #{param.api_id,jdbcType=BIGINT}
      </if>
      <if test="param.menu_id!=null">
        AND menu_id = #{param.menu_id,jdbcType=BIGINT}
      </if>
      <if test="param.update_user!=null">
        AND update_user = #{param.update_user,jdbcType=VARCHAR}
      </if>
      <if test="param.update_time!=null">
        AND update_time = #{param.update_time,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
</mapper>